body {
    margin: 0;
    padding: 0;
    background: #eef3f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.app {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 320px;
    height: 568px;
    box-sizing: border-box;
}

.progress{
    display: flex;
    height: 140px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.progress-circle {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: conic-gradient(#3f7bff 0deg, #dfe6ee 0deg);
    margin: 0 auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-circle::after{
    position: absolute;
    content: '';
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: rgb(223, 230, 238);
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 50px;
}

.valueControl input{
    width: 45px;
    height: 25px;
    padding: 0;
    margin: 0;
    border: black 1px solid;
    border-radius: 16px;
    text-align: center;
}

.buffer{
    width: 50px;
    margin-right: 20px;
}

.valueControl{
    display: flex;
    width: 50%;
}

.animateToggle{
    display: flex;
    width: 50%;
}
.hideToggle{
    display: flex;
    width: 50%;
}

.toggle {
width: 45px;
height: 25px;
border-radius: 12px;
background: #dfe6ee;
position: relative;
cursor: pointer;
}

.toggle.on{
    background-color: rgb(63, 123, 255);
}

.toggleCircle{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left:3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition-duration: 0.2s;
}


/* .toggle::after {
content: "";
width: 20px;
height: 20px;
border-radius: 50%;
background: white;
position: absolute;
top: 2px;
left: 2px;
} */